@import '../../common';

// animation
@keyframes parrot {
  0%{transform: translate(0, 0);}
  5%{transform: translate(0, 0);}
  10%{transform: translate(0.1em, -0.2em) rotate(20deg);}
  15%{transform: translate(0,0);}
  45%{transform: translate(0,0);}
  50%{transform: translate(0, -0.1em) rotate(360deg);}
  55%{transform: translate(0,0) rotate(360deg);}
  100%{transform: translate(0,0) rotate(360deg);}
}

@keyframes menuPop {
  0%{transform: rotate(0);}
  10%{transform: rotate(-20deg);}
  20%{transform: translateY(-2em) rotate(-20deg);}
  50%{transform: translateY(0) rotate(0);}
  100%{}
}

@keyframes circlemove {
  0%{transform: translate(0,0);}
  25%{transform: translateX(150%);}
  50%{transform: translate(150%, 150%);}
  75%{transform: translateY(150%);}
  100%{transform: translate(0,0);}
}


// header
header{
  width: 100%;
  padding: 2em 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0; top: 0;
  z-index: 10;
  pointer-events: none;
  h1{
    text-align: center;
    pointer-events: fill;
    animation: parrot 7s infinite ease-in-out;
    cursor: pointer;
    &:hover{
      animation-play-state: paused;
    }
    img{
      width: 3em;
    }
  }
  .language{
    position: absolute;
    right: 10%; top: 3.8rem;
    opacity: 0;
    pointer-events: fill;
    span{
      font-size: 1.2em;
      color: rgba(#fff, 0.5);
      font-family: $nanum;
      vertical-align: middle;
      cursor: pointer;
    }
    span.active{
      font-weight: 700;
      color: rgba(#fff, 1);
    }
    i{
      display: inline-block;
      width: 2px; height: 20px;
      background-color: #fff;
      vertical-align: middle;
    }
  }
  .burger{
    width: 3em;
    position: absolute;
    right: 5%; top: 3rem;
    pointer-events: fill;
    cursor: pointer;
    span{
      display: block;
      width: 100%;
      height: 4px;
      background-color: #fff;
      margin: 0.6em 0;
      transition: .4s;
    }
    &:hover{
      span:nth-of-type(1){background-color: $yellow;}
      span:nth-of-type(2){background-color: $red;}
      span:nth-of-type(3){background-color: $blue;}
    }
  }
  .burger.active{
    span:nth-of-type(1){
      background-color: $red;
      transform: translateY(0.8em) rotate(45deg);
    }
    span:nth-of-type(2){
      opacity: 0;
    }
    span:nth-of-type(3){
      background-color: $blue;
      transform: translateY(-0.8em) rotate(-45deg);
    }
  }
}

.mainMenu{
  width: 100vw;
  height: 100vh;
  position: absolute;
  right: 0; top: 0;
  background-color: rgba(#fff, 0.9);
  transform: translate(100%, -200%) rotate(90deg);
  transition: 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: $menu;
  overflow: auto;
  pointer-events: fill;
  .mainMenuTop{
    padding: 5vh 0 10vh;
    a{
      display: block;
      padding: 10px;
      margin: 10px 0;
      color: rgba($blue, 0.5);
      font-size: 5em;
      font-weight: 700;
      transition: .4s;
      border: 2px solid rgba($blue, 0);
      &:hover{
        color: $blue;
        border: 2px solid rgba($blue, 0.5);
      }
    }
  }
  .mainMenuBottom{
    a{
      display: inline-block;
      padding: 10px;
      color: rgba($red, 0.5);
      font-size: 2em;
      font-weight: 700;
      transition: .4s;
      border: 2px solid rgba($red, 0);
      &:hover{
        color: $red;
        border: 2px solid rgba($red, 0.5);
      }
    }
  }
}
.mainMenu.active{
  transform: translate(0);
}

.subMenu{
  width: 5em;
  position: absolute;
  left: calc(50% - 2.5em); top: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: fill;
  transition: 1s;
  a{
    display: block;
    padding: 0.5em 1em;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 3em;
    color: rgba($red, 0.5);
    font-size: 1.2em;
    font-weight: 700;
    margin: 0 20px;
    transition: .4s;
  }
}
.subMenu.active{
  opacity: 1;
  transform: translateY(7em);
  a{
    animation: menuPop 1s forwards linear;
    &:nth-of-type(1) {animation-delay: 0.5s;}
    &:nth-of-type(2) {animation-delay: 0.6s;}
    &:hover{
      background-color: transparent;
      color: #fff;
      border: 2px solid #fff;
    }
  }
}



/* 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
// header
header{
  .language{
    right: 15%;
  }
}
}


/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (min-width:480px) and (max-width:767px) {
// header
header{
  h1{
    img{
      width: 2em;
    }
  }
  .language{
    right: 15%; top: 2.7rem;
    span{
      font-size: 1em;
    }
    i{
      height: 15px;
    }
  }
  .burger{
    width: 2em;
    right: 5%; top: 2.5rem;
    span{
      height: 3px;
      margin: 0.4em 0;
    }
  }
  .burger.active{
    span:nth-of-type(1){
      transform: translateY(0.55em) rotate(45deg);
    }
    span:nth-of-type(3){
      transform: translateY(-0.6em) rotate(-45deg);
    }
  }
}

.mainMenu{
  .mainMenuTop{
    a{
      font-size: 4em;
    }
  }
  .mainMenuBottom{
    a{
      font-size: 1.5em;
    }
  }
}

.subMenu{
  width: 4em;
  left: calc(50% - 2em); top: 3em;
  a{
    padding: 0.3em 0.7em;
    font-size: 0.9em;
  }
}
.subMenu.active{
  transform: translateY(4em);
}
}


/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {
// header
header{
  padding: 1em 0 0;
  h1{
    img{
      width: 2em;
    }
  }
  .language{
    left: 5%; top: 2rem;
    span{
      font-size: 1em;
    }
    i{
      height: 15px;
    }
  }
  .burger{
    width: 2.5em;
    right: 5%; top: 1.5rem;
    span{
      height: 3px;
      margin: 0.5em 0;
    }
  }
  .burger.active{
    span:nth-of-type(1){
      transform: translateY(0.65em) rotate(45deg);
    }
    span:nth-of-type(3){
      transform: translateY(-0.7em) rotate(-45deg);
    }
  }
}

.mainMenu{
  .mainMenuTop{
    a{
      font-size: 3em;
    }
  }
  .mainMenuBottom{
    a{
      font-size: 1.5em;
    }
  }
}

.subMenu{
  width: 4em;
  left: calc(50% - 2em); top: 4em;
  a{
    padding: 0.3em 0.7em;
    font-size: 0.9em;
    margin: 0 10px;
  }
}
.subMenu.active{
  transform: translateY(2em);
}
}