@import '../../common';

// animation
@keyframes titleAnimation {
  0% {
    transform: translateY(-50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  10% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  40% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  50% {
    transform: translateY(50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
    clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
    clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
  }
}


.introduction{
  width: 100%;
  height: 35rem;
  position: relative;
  margin: 15rem auto 10rem;
  .title{
    position: absolute;
    left: 20%; top: 0;
    span{
      display: block;
      margin-bottom: 20px;
      font-family: $nanum;
      font-size: 3rem;
      color: #fff;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
      transform: translateY(-50px);
      opacity: 0;
      animation: titleAnimation 10s infinite ease;
    }
    &.title1{
      span{
        animation-delay: 0.6s;
        &:first-child{
          animation-delay: 0.4s;
        }
        &:last-child{
          animation-delay: 0.8s;
        }
      }
    }
    &.title2{
      span{
        animation-delay: 5.6s;
        &:first-child{
          animation-delay: 5.4s;
        }
        &:last-child{
          animation-delay: 5.8s;
        }
      }
    }
  }
  .category{
    position: absolute;
    right: 5%;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    overflow: hidden;
    p{
      margin: 0.5rem 0;
      display: inline-block;
      position: relative;
      padding: 15px 20px;
      font-size: 1.5rem;
      color: #fff;
      font-family: $nanum;
      font-weight: 700;
      text-align: right;
      transition: .7s;
      opacity: .3;
      cursor: pointer;
      &::before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        right: 0; bottom: 0;
        background-color: salmon;
        z-index: -1;
        opacity: 0;
        transform: translateX(-100%);
        transition: 1s;
      }
      &.active{
        transform: translateX(-5%);
        opacity: 1;
        &::before{
          opacity: 1;
          transform: translateX(0);
        }
      }
      &:hover{
        opacity: 1;
      }
    }
  }
  .text{
    position: absolute;
    left: 20%;
    top: 20rem;
    width: 40%;
    p{
      width: 100%;
      position: absolute;
      left: 0; top: 0;
      font-size: 1.1rem;
      color: #fff;
      line-height: 2;
      text-align: justify;
      opacity: 0;
      transform: translateX(-100%);
      transition: .7s;
      &.active{
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
}


/* 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
  .introduction{
    height: 50rem;
    .title{
      span{
        font-size: 2rem;
      }
    }
    .category{
      top: 12rem;
      p{
        padding: 10px 15px;
        font-size: 1.2rem;
      }
    }
    .text{
      width: 60%;
      top: 35rem;
      p{
        font-size: 1rem;
      }
    }
  }
}


/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (min-width:480px) and (max-width:767px) {
  .introduction{
    height: 45rem;
    margin: 10rem auto 5rem;
    .title{
      span{
        font-size: 1.5rem;
      }
    }
    .category{
      top: 10rem;
      p{
        margin: 0.2rem 0;
        padding: 10px 15px;
        font-size: 0.9rem;
      }
    }
    .text{
      width: 60%;
      top: 25rem;
      p{
        font-size: 0.8rem;
      }
    }
  }
}


/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {
  .introduction{
    height: 40rem;
    margin: 10rem auto 0;
    .title{
      span{
        font-size: 1.2rem;
      }
    }
    .category{
      top: 9rem;
      p{
        margin: 0.1rem 0;
        padding: 7px 10px;
        font-size: 0.8rem;
      }
    }
    .text{
      width: 60%;
      top: 20rem;
      p{
        font-size: 0.7rem;
      }
    }
  }
}