@import '../../common';

// animation
@keyframes fadein {
  0%{
    transform: translateY(30%);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadein2 {
  0%{opacity: 0;}
  10%{opacity: 1;}
  40%{opacity: 1;}
  50%{opacity: 0;}
  60%{opacity: 1;}
  90%{opacity: 1;}
  100%{opacity: 0;}
}
@keyframes blink1 {
  0%{
    opacity: 0;
    transform: translateX(-100%);
  }
  1%{
    opacity: 1;
    transform: translateX(-100%);
  }
  10%{
    opacity: 0;
    transform: translateX(-200%);
  }
  11%{
    opacity: 1;
    transform: translateX(-200%);
  }
  20%{
    opacity: 0;
    transform: translateX(-100%);
  }
  21%{
    opacity: 1;
    transform: translateX(-100%);
  }
  30%{
    opacity: 0;
    transform: translateX(0%);
  }
  31%{
    opacity: 0;
    transform: translateX(0%);
  }
  40%{
    opacity: 0;
    transform: translateX(100%);
  }
  41%{
    opacity: 1;
    transform: translateX(100%);
  }
  50%{
    opacity: 0;
    transform: translateX(200%);
  }
  51%{
    opacity: 1;
    transform: translateX(200%);
  }
  60%{
    opacity: 0;
    transform: translateX(100%);
  }
  61%{
    opacity: 1;
    transform: translateX(100%);
  }
  70%{
    opacity: 0;
    transform: translateX(0%);
  }
  71%{
    opacity: 0;
    transform: translateX(0%);
  }
  100%{
    opacity: 0;
    transform: translateX(0%);
  }
}
@keyframes blink2 {
  0%{
    opacity: 0;
    transform: translateX(100%);
  }
  1%{
    opacity: 1;
    transform: translateX(100%);
  }
  10%{
    opacity: 0;
    transform: translateX(200%);
  }
  11%{
    opacity: 1;
    transform: translateX(200%);
  }
  20%{
    opacity: 0;
    transform: translateX(100%);
  }
  21%{
    opacity: 1;
    transform: translateX(100%);
  }
  30%{
    opacity: 0;
    transform: translateX(0%);
  }
  31%{
    opacity: 0;
    transform: translateX(0%);
  }
  40%{
    opacity: 0;
    transform: translateX(-100%);
  }
  41%{
    opacity: 1;
    transform: translateX(-100%);
  }
  50%{
    opacity: 0;
    transform: translateX(-200%);
  }
  51%{
    opacity: 1;
    transform: translateX(-200%);
  }
  60%{
    opacity: 0;
    transform: translateX(-100%);
  }
  61%{
    opacity: 1;
    transform: translateX(-100%);
  }
  70%{
    opacity: 0;
    transform: translateX(0%);
  }
  71%{
    opacity: 0;
    transform: translateX(0%);
  }
  100%{
    opacity: 0;
    transform: translateX(0%);
  }
}


.profile{
  width: 100%;
  margin: 15rem auto 5rem;
  text-align: center;
  overflow: hidden;
  .profileImg{
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
    position: relative;
    img{
      width: 100%;
      position: absolute;
      left: 0; top: 0;
      z-index: 3;
      transform: translateY(30%);
      opacity: 0;
      animation: fadein .5s forwards ease-in;
    }
    span{
      width: 20rem;
      height: 20rem;
      border-radius: 50%;
      position: absolute;
      left: 0; top: 0;
      opacity: 0;
    }
    .circleRed{
      background-color: $red;
      animation: blink2 10s infinite linear;
      animation-delay: 1.5s;
    }
    .circleBlue{
      background-color: $blue;
      animation: blink1 10s infinite linear;
      animation-delay: 1s;
    }
    .circleYellow{
      background-color: $yellow;
      animation: blink1 10s infinite linear;
      animation-delay: 2.5s;
    }
  }
  .profileName{
    h3{
      margin: 3rem auto;
      font-size: 2rem;
      font-family: $nanum;
      color: #fff;
    }
    .resume{
      display: inline-block;
      margin: 0 auto 1rem;
      padding: 1rem 1.5rem;
      background-color: #fff;
      color: lighten($blue, 20%);
      border: 2px solid #fff;
      font-size: 1.2rem;
      font-family: $nanum;
      border-radius: 2rem;
      transition: .4s;
      &:hover{
        background-color: transparent;
        color: #fff;
      }
    }
    span{
      vertical-align: middle;
    }
    .scrollDown{
      margin: 5rem auto;
      color: #fff;
      font-family: $nanum;
      animation: fadein2 5s infinite ease-in-out;
      cursor: pointer;
    }
  }
}


/* 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
  .profile{
    .profileImg{
      width: 15rem;
      height: 15rem;
      span{
        width: 15rem;
        height: 15rem;
      }
    }
    .profileName{
      h3{
        margin: 5rem auto 3rem;
      }
    }
  }
}


/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (min-width:480px) and (max-width:767px) {
  .profile{
    .profileImg{
      width: 10rem;
      height: 10rem;
      span{
        width: 10rem;
        height: 10rem;
      }
    }
    .profileName{
      h3{
        margin: 5rem auto 3rem;
        font-size: 1.5rem;
      }
      .resume{
        padding: 0.9rem 1.2rem;
        font-size: 1.1rem;
        border-radius: 1.5rem;
      }
      .scrollDown{
        margin: 3rem auto;
  
      }
    }
  }
}


/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {
  .profile{
    margin: 15rem auto 0;
    .profileImg{
      width: 10rem;
      height: 10rem;
      span{
        width: 10rem;
        height: 10rem;
      }
    }
    .profileName{
      h3{
        margin: 5rem auto 3rem;
        font-size: 1.5rem;
      }
      .resume{
        padding: 0.7rem 1rem;
        font-size: 0.9rem;
      }
      .scrollDown{
        margin: 3rem auto 5rem;
      }
    }
  }
}