@import '../../common';

.skillsWrap{
  width: 100%;
  margin: 5rem auto;
  position: relative;
  overflow: hidden;
  .skillContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 5rem auto;
    li.active{
      opacity: 1;
    }
    li{
      width: 7%;
      cursor: pointer;
      opacity: 0.3;
      img{
        width: 100%;
      }
    }
  }
  .skillsDetail{
    width: 30rem;
    height: 30rem;
    margin: 7rem auto 5rem;
    background-color: rgba(tomato, 0.3);
    padding: 3rem;
    border-radius: 50%;
    font-family: $nanum;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.3) translate(10rem, -20rem);
    transition: .5s;
    li{
      width: 100%;
      line-height: 2rem;
      text-align: center;
      color: #fff;
    }
  }
}

/* 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
  .skillsWrap{
    .skillContainer{
      flex-wrap: wrap;
      li{
        width: 15%;
        margin: 10px;
      }
    }
    .skillsDetail{
      margin: 7rem auto 3rem;
      font-size: 1.2rem;
      li{
        line-height: 3rem;
      }
    }
  }
}

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (min-width:480px) and (max-width:767px) {
  .skillsWrap{
    margin: 3rem auto;
    .skillContainer{
      flex-wrap: wrap;
      li{
        width: 15%;
        margin: 10px;
      }
    }
    .skillsDetail{
      width: 20rem;
      height: 20rem;
      margin: 5rem auto;
      font-size: 0.8rem;
      li{
        line-height: 1.5rem;
      }
    }
  }
}

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {
  .skillsWrap{
    .skillContainer{
      flex-wrap: wrap;
      li{
        width: 15%;
        margin: 10px;
      }
    }
    .skillsDetail{
      width: 20rem;
      height: 20rem;
      margin: 5rem auto;
      font-size: 0.8rem;
      li{
        line-height: 1.5rem;
      }
    }
  }
}