@import '../../common';

@keyframes linkMove {
  0%{color: #fff;}
  100%{color: $purple;}
}

.animationTextWrap{
  width: 100%;
  height: 90vh;
  position: fixed;
  left: 0; top: 5vh;
  z-index: -2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  p{
    text-align: center;
    font-size: 8em;
    font-weight: 700;
    transition: 4s;
  }
  .animationEn{
    transform: translateX(-200%);
    color: $yellow;
  }
  .animationKo{
    transform: translateX(200%);
    color: $blue;
  }
  .animationJp{
    transform: translateX(-200%);
    color: $red;
  }
}

.textWrap.active{
  h2{
    height: 30rem;
    span{
      transform: translateY(0);
    }
  }
}
.textWrap{
  width: 100%;
  height: 75vh;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h2{
    padding: 0 0.5em;
    height: 10rem;
    overflow: hidden;
    color: #fff;
    font-size: 7rem;
    font-weight: 700;
    position: relative;
    text-align: center;
    transition: .5s;
    cursor: pointer;
    span{
      display: block;
      transform: translateY(-100%);
      transition: .5s;
      b{
        font-size: 5rem;
        text-decoration: solid;
        animation: linkMove 1s infinite linear;
        &:nth-child(2){animation-delay: .1s;}
        &:nth-child(3){animation-delay: .2s;}
        &:nth-child(4){animation-delay: .3s;}
        &:nth-child(5){animation-delay: .4s;}
        &:hover{
          font-style: italic;
        }
      }
    }
    .textBg{
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0; top: 0;
      background-color: #fff;
      border-radius: 0.5em;
      z-index: -1;
      overflow: hidden;
      .textBox{
        position: absolute;
        border-radius: 50%;
      }
      .textBox1{
        width: 2.5em;
        height: 2.5em;
        background-color: $yellow;
        transition: .6s;
      }
      .textBox2{
        width: 2em;
        height: 2em;
        background-color: $red;
        transition: .4s;
      }
      .textBox3{
        width: 1.5em;
        height: 1.5em;
        background-color: $blue;
        transition: .2s;
      }
    }
  }
}


/* 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
  .animationTextWrap{
    p{
      font-size: 5rem;
    }
  }
  .textWrap.active{
    h2{
      height: 21rem;
      color: #fff;
      span{
        transform: translateY(0);
      }
      .textBg{
        background-color: transparent;
      }
    }
  }
  .textWrap{
    h2{
      height: 7rem;
      color: salmon;
      font-size: 5rem;
      span{
        b{
          font-size: 4rem;
        }
      }
    }
  }
}



/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (min-width:480px) and (max-width:767px) {
  .animationTextWrap{
    p{
      font-size: 4rem;
    }
  }
  .textWrap.active{
    h2{
      height: 15rem;
      color: #fff;
      span{
        transform: translateY(0);
      }
      .textBg{
        background-color: transparent;
      }
    }
  }
  .textWrap{
    h2{
      height: 5rem;
      color: salmon;
      font-size: 3.5rem;
      span{
        b{
          font-size: 3rem;
        }
      }
    }
  }
}



/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {
  .animationTextWrap{
    p{
      font-size: 3em;
    }
  }
  
  .textWrap.active{
    h2{
      height: 12rem;
      color: #fff;
      span{
        transform: translateY(0);
      }
      .textBg{
        background-color: transparent;
      }
    }
  }
  .textWrap{
    h2{
      height: 4rem;
      color: salmon;
      font-size: 3rem;
      span{
        b{
          font-size: 2.5rem;
        }
      }
      .textBg{
        .textBox{
          display: none;
        }
      }
    }
  }
}