@charset "utf-8";

body{margin: 0 auto;}
h1,h2,h3,h4,h5,h6,p,figure{margin: 0;}
*{box-sizing: border-box;}
a{text-decoration: none;}
ul,li{list-style-type: none; padding: 0; margin: 0;}
image{vertical-align: middle;}
table{border-collapse: collapse;}

.materialIconsOutlined{font-family: 'Material Icons';}


// font
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Nanum+Gothic:wght@400;700;800&family=Noto+Serif+KR:wght@400;700&display=swap');

$nanum: 'Nanum Gothic', sans-serif;
$menu: 'Barriecito', cursive;
$batang: 'Noto Serif KR', serif;


// color
$red: rgb(253,29,29);
$yellow: rgb(252,176,69);
$blue: rgb(58,75,180);
$green: rgb(63, 139, 89);
$gold: rgb(231, 168, 7);
$purple: rgb(195, 0, 255);
